@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  overflow-x: auto;
}

.app {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main-content {
  /* flex-grow: 1; */
  overflow-y: auto;
  height: calc(100vh - 68.56px);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track :hover {
  background: #555;
}
